<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
          $('#add_new_override').on('submit', function (event) {
            var startDate = new Date();
            var endDate = new Date($('#end_date').val());
            if (startDate >= endDate) {
              event.preventDefault();
              $('#end_date').addClass('is-invalid');
              $('#end_date_error').text('End date should be greater than the start date.').show();
            }
            var userId = '<%= user.uid %>';
            if (userId === '' && groupName === '') {
              event.preventDefault();
              $('#group_id').addClass('is-invalid');
              $('#group_id_error').text('Either user ID or group ID should be filled.').show();
            }
          });
          $('.edit-override-button').on('click', function (event) {
            event.preventDefault();
            var button = $(this);
            var editOverrideForm = $('#edit-override-form');
            editOverrideForm.find('#edit-assessment_id').val(button.data('assessment-id'));
            editOverrideForm.find('#edit-group_id').val(button.data('group-id'));
            editOverrideForm.find('#edit-credit').val(button.data('credit'));
            var policy_start_date = new Date(button.data('start-date'))
            var policy_start_date_string = policy_start_date.toISOString().slice(0, 16);
            var policy_end_date = new Date(button.data('end-date'))
            var policy_end_date_string = policy_end_date.toISOString().slice(0, 16);
            editOverrideForm.find('#edit-end_date').val(policy_end_date_string);
            editOverrideForm.find('#edit-created_by').val(button.data('created-by'));
            editOverrideForm.find('#edit-note').val(button.data('note'));
            editOverrideForm.find('#edit-type').val(button.data('type'));

            // Show the modal form
            $('#editPolicyModal').modal('show');
          });
          // Event listener for delete button
          $('.delete-button').on('click', function () {
            var button = $(this);
            var student_uid = button.data('student-uid');
            var assessment_id = button.data('assessment-id');
            var groupId = button.data('group-id');

            // Set the values of the form's hidden input fields
            $('#deleteModal input[name="student_uid"]').val(student_uid);
            $('#deleteModal input[name="assessment_id"]').val(assessment_id);
            $('#deleteModal input[name="group_id"]').val(groupId);

            // Show the modal confirmation dialog
            $('#deleteModal').modal('show');
          });

          // Event listener for confirm delete button in the modal
          $('#confirmDeleteButton').on('click', function () {
            // Set the __action value to "delete_override"
            $('form[name="delete-override-form"] input[name="__action"]').val('delete_override');

            // Submit the form
            $('form[name="delete-override-form"]').submit();
          });
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'assessments'}); %>
    <main id="content" class="container">

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Assessments</div>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th style="width: 1%"><span class="sr-only">Label</span></th>
              <th><span class="sr-only">Title</span></th>
              <th class="text-center">Available credit</th>
              <th class="text-center">Score</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach(function(row) { %>
            <% if (row.start_new_assessment_group) { %>
            <tr>
              <th colspan="4" data-testid="assessment-group-heading">
                <%= row.assessment_group_heading %>
              </th>
            </tr>
            <% } %>
            <tr>
              <td class="align-middle" style="width: 1%">
                <% if (row.multiple_instance_header || (!row.active && row.assessment_instance_id === null)) { %>
                  <span
                    class="badge color-<%= row.assessment_set_color %>"
                    data-testid="assessment-set-badge"
                  >
                    <%= row.label %>
                  </span>
                <% } else { %>
                  <a
                    href="<%= urlPrefix %><%= row.link %>"
                    class="badge color-<%= row.assessment_set_color %> color-hover"
                    data-testid="assessment-set-badge"
                  >
                    <%= row.label %>
                  </a>
                <% } %>
              </td>
              <td class="align-middle">
                <% if (row.multiple_instance_header || (!row.active && row.assessment_instance_id === null)) { %>
                <%= row.title %>
                <% } else { %>
                <a href="<%= urlPrefix %><%= row.link %>"><%= row.title %>
                <% if (row.group_work) { %>
                  <i class="fas fa-users" aria-hidden="true"></i>
                <% } %>
                </a>
                <% } %>
              </td>
              <td class="text-center align-middle">
               
                <% if (row.assessment_instance_open !== false) { %>
                    <%= row.credit_date_string %>
                    
                    
                <% } else { %>
                    Assessment closed.
                <% } %>
                <%- include('../partials/studentAccessRulesPopover', {
                    accessRules: row.access_rules,
                    assessmentSetName: row.assessment_set_name,
                    assessmentNumber: row.assessment_number,
                    }) %>
                    <button type="button" class="btn-sm btn-light " data-toggle="modal" data-target="#requestExtensionModal" >
                      <i class="fas fa-pencil"></i>
                   </button>
    
                   <div class="modal fade" id="requestExtensionModal" tabindex="-1" role="dialog" aria-labelledby="requestExtensionModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h5 class="modal-title" id="requestExtensionModalLabel">Request Extension</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                         </div>
                         <div class="modal-body">
                           <form id="request-extension-form" method="POST">
                             <input type="hidden" name="__action" value="request_extension">
                             <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                             <input type="hidden" class="form-control" id="current_student_uid" name="current_student_uid" value="<%= user.uid %>" required readonly>
                             <div class="form-group">
                               <label for="num_tokens">Number of Tokens Left</label>
                               <p id="num_tokens"><%= row.num_tokens %></p>
                               <div class="form-group">
                                 <label for="log_row">Log Row</label>
                                 <p id="log_row"><%= JSON.stringify(row) %></p>
                                 
                                 
                             </div>
                             <div class="form-group">
                               <label for="tokens_per_day">Tokens Per Day</label>
                               <p id="tokens_per_day"><%= row.tokens_per_day %></p>
                             </div>
                             <div class="form-group">
                               <label for="course_name">Course Name</label>
                               <p id="course_name"><%= course.name %></p>
                             </div>
                             <div class="form-group">
                               <label for="start_date">End Date</label>
                               <input type="datetime-local" class="form-control" id="end_date" name="end_date" required>
                             </div>
                           </form>
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <button type="submit" class="btn btn-primary" form="request-extension-form">Submit</button>
                         </div>
                       </div>
                     </div>
                   </div>
                
              <td class="text-center align-middle">
                <% if (row.multiple_instance_header) { %>
                <a href="<%= urlPrefix %><%= row.link %>" class="btn btn-primary btn-sm" role="button">New instance</a>
                <% } else { // multiple_instance_header %>
                <% if (row.assessment_instance_id) { %>
                <% if(row.show_closed_assessment_score) { %>
                <%- include('../partials/scorebar', {score: row.assessment_instance_score_perc}) %>
                <% } else { %>
                Score not shown
                <% } %>
                <% } else { %>
                Not started
                <% } %>
                <% } // multiple_instance_header %>
              </td>

            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <% if (authz_data.mode == 'Exam') { %>
      <p>Don't see your exam? Exams for this course are only made available to students with checked-in exam reservations. See a proctor for assistance.</p>
      <% } %>
    </main>
  </body>
</html>
